<section id="blog" class="section-shell scroll-mt-28">
  <div class="section-inner">
    <app-section-header
      appReveal
      index="03"
      kicker="WRITING.LOG"
      [title]="t().title"
      [lede]="t().lede"
    />

    @if (posts().length) {
      <div class="post-list border-t border-white/10">
        @for (post of posts(); track post.slug; let i = $index) {
          <app-post-row [post]="post" [delay]="i * 70" />
        }
      </div>
    } @else if (!all.isLoading()) {
      <p class="post-status font-mono">{{ t().empty }}</p>
    }

    <a class="post-viewall focus-link mt-8 inline-flex" routerLink="/blog">
      {{ t().viewAll }}
    </a>
  </div>
</section>
